
<br>
<h2 style="text-align: center;">تعديل بيانات المسوق</h2>

<%= render 'form', marketer: @marketer %>

<%= link_to 'عرض',  @marketer, class: "btn btn-outline-success my-2 my-sm-0"%> |
<%= link_to 'عوده', marketers_path , class: "btn btn-outline-success my-2 my-sm-0" %>

