<br>
<h1 style="text-align: center;" >اضافة موظف خارجي </h1>

<%= render 'form', external_employee: @external_employee %>

<%= link_to 'عوده', external_employees_path , class: "btn btn btn-secondary my-2 my-sm-0"%>