<br>
<h2 style="text-align: center;">تعديل بيانات عملية البيع</h2>
<div class="alert alert-info" role="alert" style="text-align: center;">
  لا يمكن تعديل ( المندوب - المسوق - نوع البضاعه - الحوالات بكل انواعها )
</div>

<%= render 'form', sales_operation: @sales_operation %>

