<br>
<h1 style="text-align: center;" >إظافة عملية بيع</h1>

<%= render 'form', sales_operation: @sales_operation %>

<%= link_to 'عوده', sales_operations_path , class: "btn btn-outline-success my-2 my-sm-0"%>
