<h1 style="text-align: center;">تعديل بيانات المندوب</h1>

<%= render 'form', salesperson: @salesperson %>

<%= link_to 'عرض', @salesperson , class: "btn btn-primary stretched-link"%> |
<%= link_to 'عوده', salespeople_path , class: "btn btn-primary stretched-link" %>
