<br>
<h2 style="text-align: center;">تعديل بضاعه مصروفه</h2>
<div class="alert alert-info" role="alert" style="text-align: center;">
  لا يمكن تعديل ( المندوب - نوع البضاعه )
</div>

<%= render 'form', product_discount: @product_discount %>