<br>
<h2 style="text-align: center;">تعديل بيانات المدير</h2>

<%= render 'form', manger: @manger %>

<%= link_to 'عرض',  @manger, class: "btn btn-outline-success my-2 my-sm-0"%> |
<%= link_to 'عوده', mangers_path , class: "btn btn-outline-success my-2 my-sm-0" %>