<br>
<h2 style="text-align: center;">تعديل  الحواله</h2>
<div class="alert alert-info" role="alert" style="text-align: center;">
  لا يمكن تعديل ( المندوب - المسوق - المساعد - نوع الموظف - نوع الحواله )
</div>
<%= render 'form', bank_transfer: @bank_transfer %>
