<br>
<h2 style="text-align: center;">تعديل عملية تسليم </h2>

<%= render 'form', delegate: @delivery %>

<%= link_to 'عرض', @delivery , class: "btn btn-outline-success my-2 my-sm-0"%> |
<%= link_to 'عوده', deliveries_path , class: "btn btn-outline-success my-2 my-sm-0" %>
