<br>
<h2 style="text-align: center;">تعديل عملية تسليم </h2>
<div class="alert alert-info" role="alert" style="text-align: center;">
   لا يمكن تعديل نوع البضاعه او المندوب  
</div>

<%= render 'form', delegate: @delivery %>
