
<main role="main">
  <div class="jumbotron" style="background: url(<%= asset_path '2.jpg' %>) no-repeat center center;background-size: cover;">
      <div class="container" style="text-align: right;">
        <h1 class="display-3">مؤسسة بلا حدود</h1>
        <p>مؤسسة رائده في توفير افضل خلطات الدهون لعلاج مشاكل الشعر المختلفه التي يعاني منها الكثير </p>
        <p><a class="btn btn-outline-success my-2 my-sm-0" href="#" role="button">معرفة المزيد &raquo;</a></p>
      </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <!-- FOOTER -->
</main>