<br>
<h2 style="text-align: center;">تعديل  مصروف المدير</h2>
<div class="alert alert-info" role="alert" style="text-align: center;">
  لا يمكن تعديل البنك 
</div>

<%= render 'form', manger_discount: @manger_discount %>
