<br>
<h2 style="text-align: center;">
مصروفات المدير ب<%= @current_country.name %> 
</h2>
<br>

<div class="table-responsive" >
  <table class="table">
    <thead class="thead-light" style="text-align: right;">
      <tr>
        <th>سبب صرف المبلغ</th>
        <th>المبلغ</th>
        <th>تاريخ الصرف</th>
      </tr>
    </thead>

    <tbody style="text-align: right;">
      <% @current_country.manger_discounts.each do |manger_discount| %>
        <tr>
          <td><%= manger_discount.Desc %></td>
          <td><%= manger_discount.value %></td>
          <td><%= manger_discount.date_of_discount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
